* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    position: fixed;
    top:10px;
    left:10px;
    height:50px;
    width:50px;
    border-radius:25px;
    z-index:4;
    box-shadow: 5px 5px 10px #2773a5;
}
.signup-nav {
    width: 100%;
    position: fixed;
    background: linear-gradient(to bottom right, #ffffffcc, #ffffff33);
    z-index: 3;
}
.signup-nav ul {
    text-align: right;
    list-style: none;
    padding: 20px 0;
}
.signup-nav li {
    display: inline-block;
    padding: 0 10px;
    font-size: 1.2rem;
    font-family: 'Anton';
    cursor: pointer;
    background-color: white;
    margin-right: 10px;
}

.signup-nav li:hover {
    color: #2773a5;
}

.inner-box {
    width: 300px;
    background: linear-gradient(to top left, #ffffffff, #ffffff33);
    position: relative;
    top: 60%;
    transform: translateY(-50%);
    margin: auto;
    padding: 20px;
    box-shadow: 2px 2px 5px #2773a5;
    border-radius: 8px;
    backdrop-filter: blur(8px);
    z-index: 2;
}

.outer-box {
    background: linear-gradient(to top left, #3ed8ff, #a8f5ff);
    width: 100vw;
    height: 100vh;
}
.outer-box h2{
    text-decoration: underline;
    font-family:"Anton";
    letter-spacing: 1.2rem;
    position:absolute;
    top:50px;
    left:30%;
    font-size:10rem;
}
body {
    font-family: 'patrick hand sc';
    height: 100vh;
    background: linear-gradient(to bottom left, #3ed8ff, #a8f5ff);
    width:100vw;
}

.signup-header h1 {
    font-size: 3rem;
    font-family: 'Anton';
    letter-spacing: 0.5rem;
}

.signup-header p {
    font-size: 0.9rem;
    padding-bottom: 15px;
}

.signup-body {
    margin: 20px 0;
}

.signup-body p label {
    display: block;
    font-weight: bold;
    font-size: 1.1rem;
}

.signup-body p {
    margin: 10px 0;
}

.signup-body p input {
    width: 100%;
    padding: 10px;
    border: 2px solid #cccc;
    margin: 4px 0;
    border-radius: 4px;
}

.signup-body p input[type="submit"] {
    border: none;
    background-color: #3498db;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.signup-body p input[type="submit"]:hover {
    background-color: #2773a5;
}

.signup-footer p {
    text-align: center;
    color: #555;
}

.signup-footer a {
    color: #3498db;
}

.signup-footer a:hover {
    color: #2773a5;
}

.circle {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: linear-gradient(to top right, #ffffff33, #ffffffff);
    position: absolute;
}

.c1 {
    top: 100px;
    left: 40px;
}

.c2 {
    bottom: 100px;
    right: 40px;
}
section{
    width:50%;
    height:100vh;
    z-index:2;
    left:25%;
    right:25%;
    padding:20px;
    font-family:'Courier New', Courier, monospace;
    position: absolute;
    border:1px solid #a8f5ff;
    border-radius: 4px;
    text-align: justify;
    backdrop-filter: blur(8px);
    background: linear-gradient(to top left, #ffffffff, #ffffff33);
}